.hd1{

    color: white;
    text-align: center;
    font-size: 75px;
    font-family: sans-serif;
    text-shadow: 1px 1px 10px red;

}

.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(25deg ,red , yellow , black);
    /* -webkit-background-clip: text; */
    /* color: transparent; */
}

.cal-1{
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
    height: 500px;
    width: 450px;
}

.cal-1-1{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    /* flex-direction: row; */
}

.btns{
    justify-content: space-evenly;
    font-size: 40px;
    border: none;
    height: 55px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px 20px;
    background-color: #575757;
    border-radius: 50%;
}

.btns:hover{
    background-color: #575757;
    color: orange;
}

#btns{
    font-size: 30px;
}

#btn-1{
    color: white;
    background-color: orange;
}

#btn-1:hover{
    background-color: orangered;
    color: white;
    transition: all ease-in-out 0.3s;
}

#btn-2{
    color: white;
    background-color: orange;
}

#btn-2:hover{
    background-color: orangered;
    color: white;
    transition: all ease-in-out 0.3s;
}